#intro {
  margin-top: -452px;
  margin-left: 140px;
  font-size: 60px;
  text-align: start;
}
#first_paragraph {
  margin-top: 30px;
  margin-left: 146px;
  font-size: 15px;
  text-align: start;
}
#button-view-courses {
  margin-top: 21px;
  margin-left: -610px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 50px;
  border-style: none;
  background-color: #5e068a;
}
#parent-model {
  padding: 50px;
}
input {
  border-bottom: 1px solid #70707038;
  font-size: 14px;
  width: 100%;
  border-width: 0 0 1px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
select {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #70707038;
  border-width: 0 0 1px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
textarea {
  width: 100%;
  border-bottom: 1px solid #70707038;
  border-width: 0 0 1px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  
}
#submit-button {
  text-transform: uppercase;
  background-color: #5e068a;
  color: white;
  padding: 10px;
  width: 150px;
  font-size: small;
  font-weight: 500;
}
#submit-button:hover {
  background-color: #5e068acf;
}
#corousel-images {
  height: 100%;
  width: 100%;
}
#discription-1 {
  color: black;
  width: 70%;
  height: 540px;
  margin-top: 0px;
  margin-left: 270px;
}
#learn-more-1 {
  font-size: 25px;
  font-weight: 400;
  border-radius: 50px;
  border-style: none;
  background-color: #5e068a;

}
#child-heading {
  color: #5e068a;
}
#child-num {
  color: #5e068a;
  font-weight: 200;
}
#child-discription-1 {
  text-align: justify;
}